.box{
width: 100%;
border-radius:20px;
border: 1px solid grey;
padding: 24px;
background-color:rgb(56, 173, 173);
}

.box--shadow{
border-color: transparent;
box-shadow: 0px 0px 15px 0px rgba(66, 62, 62, 0.604);
}